@charset "UTF-8";
a, b, body, button, dd, div, dl, em, footer, form, h1, h2, h3, h4, h5, h6, i, input, label, li, nav, p, select, span, td, textarea, u, ul {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none
}

li, ol, ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #414a60
}

a:active, a:focus, a:hover, button, input, textarea {
    outline: 0
}

a:hover {
    color: #00d7c6;
    text-decoration: none;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

img {
    border: none
}

map area {
    outline: 0
}

table {
    border-collapse: collapse
}

body, button, input, option, select, td, textarea {
    font-family: arial, verdana, helvetica, 'PingFang SC', 'HanHei SC', STHeitiSC-Light, Microsoft Yahei, sans-serif;
    -webkit-font-smoothing: antialiased
}

button, input[type=button], input[type=number], input[type=password], input[type=search], input[type=submit], input[type=tel], input[type=text], textarea {
    -webkit-appearance: none
}

body {
    background: #f6f6f8;
    min-width: 1184px;
    line-height: 26px;
    color: #414a60;
    font-size: 14px
}

body, html {
    height: 100%
}

body {
    height: 100.1%
}

body.page-white {
    background: #fff
}

#header:after, #main:after, .clearfix:after, .home-box:after, .inner:after, .job-author:after, .job-list li:after, .job-primary:after, .promotion-job li:after {
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    clear: both
}

.clear {
    clear: both;
    display: block;
    line-height: 0;
    font-size: 0;
    height: 0;
    visibility: hidden
}

.clear-fix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both
}

#header, .clearfix, .home-box, .info, .inner, .job-author, .job-list li, .job-primary, .promotion-job li {
    zoom: 1
}

.inner {
    max-width: 1184px;
    margin: 0 auto
}

.home-inner {
    max-width: 1184px
}

.home-body {
    min-width: 1184px
}

.gray {
    color: #9fa3af
}

.red {
    color: #fc703e !important
}

.text-blue {
    color: #00c2b3
}

.gray-bg {
    background-color: #f3f3f4
}

.vline {
    display: inline-block;
    width: 1px;
    height: 12px;
    vertical-align: middle;
    background: #e0e0e0;
    margin: 0 10px
}

.vdot {
    display: inline-block;
    padding: 0 10px 0 7px
}

.btn:hover, .ipt:hover {
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

::selection {
    color: #fff;
    background: #00d7c6
}

::-moz-selection {
    color: #fff;
    background: #00d7c6
}




.search-job-list-wrap .search-form .ipt-wrap .ipt-search {
    width: 470px
}


.job-box {
    margin-top: 30px
}

.job-box.show-top {
    margin-top: 211px
}


.job-list {
    background: #fff;
    margin-right: 234px
}

.job-tab {
    line-height: 43px;
    border-bottom: 2px #f2f2f5 solid;
    padding: 0 30px
}

.job-tab a {
    display: inline-block;
    margin-right: 36px;
    font-size: 15px;
    color: #9fa3b0;
    border-bottom: 2px transparent solid;
    position: relative;
    margin-bottom: -2px
}

.job-tab a:hover {
    color: #00d7c6
}

.job-tab a.cur {
    color: #54cbc4;
    border-bottom-color: #00d7c6
}

.job-tab .red-dot {
    margin-left: 5px;
    margin-top: -15px
}

.job-list li {
    height: 88px;
    cursor: pointer
}

.job-list li:hover {
    background-color: #f8f9fb;
    -webkit-transition: all linear .2s;
    transition: all linear .2s
}

.job-list li:hover .job-primary .btn-startchat {
    display: block
}

.job-list li:hover .info-publis {
    display: none
}

.job-list li .name {
    font-size: 16px;
    font-weight: 400;
    height: 26px;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.job-list li .name .job-title {
    font-size: 16px;
    color: #00c2b3;
    font-weight: 400;
    max-width: 170px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle
}

.job-list li .name a {
    height: 26px;
    display: inline-block;
    line-height: 26px
}

.job-list li .name span.red {
    height: 26px;
    display: inline-block;
    line-height: 26px;
    position: relative;
    vertical-align: middle
}

.job-list li .name .red {
    padding-left: 8px
}

.job-list li .primary-wrapper {
    vertical-align: top;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.job-list li .primary-wrapper .job-title {
    font-size: 16px;
    color: #00c2b3;
    font-weight: 400;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle
}

.job-list li .primary-wrapper .primary-box {
    display: inline-block;
    line-height: 26px
}

.job-list li .name .title-box {
    height: 26px;
    white-space: nowrap;
    display: inline-block;
    line-height: 26px
}

.job-list li .primary-wrapper span.red {
    height: 26px;
    display: inline-block;
    line-height: 26px;
    position: relative;
    vertical-align: middle
}

.job-list li .name .job-name-after {
    height: 16px;
    vertical-align: middle;
    margin: -2px 0 0 10px;
    display: inline-block;
    padding: 0 5px;
    border: #5e96f2 solid 1px;
    border-radius: 2px;
    font-size: 12px;
    font-style: normal;
    color: #4a89f1;
    line-height: 16px
}

.job-list li p {
    font-size: 12px;
    color: #9fa3b0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.job-list .job-list-more {
    margin-top: 20px;
    text-align: center
}

.job-list .job-list-more .btn {
    height: 32px;
    line-height: 32px;
    width: 284px
}

.job-primary {
    height: 48px;
    color: #4a4160;
    padding: 20px 0 19px;
    margin: 0 30px;
    border-bottom: 1px #f2f2f5 solid;
    position: relative
}

.job-primary.job-detail-primary {
    height: auto
}

.job-primary .info-primary {
    width: 290px;
    float: left
}

.job-primary .info-company {
    vertical-align: top;
    width: 240px
}

.job-primary .info-company .company-logo {
    display: inline-block
}

.search-job-list-wrap .job-primary {
    height: 130px;
    box-sizing: border-box;
    padding: 0
}

.search-job-list-wrap .job-primary .job-medium-icon {
    position: absolute;
    left: -30px;
    width: 36px
}

.search-job-list-wrap .job-primary .info-primary {
    width: auto;
    height: 70px;
    padding-top: 20px;
    float: none
}

.search-job-list-wrap .job-list {
    background: 0 0;
    margin-right: 300px;
}

.search-job-list-wrap .job-list li {
    height: 130px;
    cursor: pointer;
    margin-bottom: 10px;
    background: #fff
}

.search-job-list-wrap .job-list li:hover {
    background: #fff
}

.search-job-list-wrap .job-list li .primary-wrapper {
    float: left;
    width: 440px
}

.search-job-list-wrap .job-list li .job-primary .info-append {
    height: 40px;
    line-height: 40px;
    margin: 0 -30px;
    padding: 0 30px;
    background: #f8f9fc
}

.search-job-list-wrap .job-list li .job-primary .info-append .tags {
    float: left;
    width: 389px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 85px;
    font-size: 0;
    height: 40px
}

.search-job-list-wrap .job-list li .job-primary .info-append .tags .tag-item {
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    padding: 0 8px;
    border: 1px solid #eee;
    border-radius: 2px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 9px;
    color: #61687c
}

.search-job-list-wrap .job-list li .job-primary .info-append .info-desc {
    font-size: 13px;
    float: left;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #61687c
}

.search-job-list-wrap .job-list li .primary-wrapper .job-title {
    font-size: 0
}

.search-job-list-wrap .job-list li .primary-wrapper .job-title .job-name {
    margin-right: 10px;
    display: block
}

.search-job-list-wrap .job-list li .primary-wrapper .job-title .job-name {
    max-width: 171px
}

.search-job-list-wrap .job-list li .primary-wrapper .job-title .job-area {
    max-width: 102px
}

.search-job-list-wrap .job-list li .primary-wrapper .job-title .job-area, .search-job-list-wrap .job-list li .primary-wrapper .job-title .job-name {
    font-size: 16px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle
}

.search-job-list-wrap .job-list li .primary-wrapper .job-title .job-name a {
    color: #00c2b3
}

.search-job-list-wrap .job-list li .primary-wrapper .job-title .job-area-wrapper {
    margin-right: 10px
}

.search-job-list-wrap .job-list li .primary-wrapper .job-title .job-area-wrapper::after, .search-job-list-wrap .job-list li .primary-wrapper .job-title .job-area-wrapper::before {
    font-size: 16px;
    vertical-align: middle
}

.search-job-list-wrap .job-list li .primary-wrapper .job-title .job-area-wrapper::before {
    content: '['
}

.search-job-list-wrap .job-list li .primary-wrapper .job-title .job-area-wrapper::after {
    content: ']'
}

.search-job-list-wrap .job-list li .primary-wrapper .job-title .job-pub-time {
    font-size: 13px;
    color: #8d92a1;
    vertical-align: -7px
}

.search-job-list-wrap .job-list li .primary-wrapper .job-limit {
    height: 26px;
    overflow: hidden
}

.search-job-list-wrap .job-list li .primary-wrapper .job-limit .red {
    float: left;
    margin-right: 12px
}

.search-job-list-wrap .job-list li .primary-wrapper .job-limit .red + p {
    float: left;
    font-size: 14px;
    margin-right: 13px;
    margin-top: 0;
    max-width: 169px;
    color: #61687c
}

.search-job-list-wrap .job-list li .primary-wrapper .job-limit .info-publis {
    width: auto;
    text-align: left;
    float: left;
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: 12px;
    height: 21px;
    line-height: 21px;
    margin-top: 1px
}

.search-job-list-wrap .job-list li .primary-wrapper .job-limit .info-publis .name {
    font-weight: 400;
    height: 21px;
    line-height: 21px;
    max-width: 150px;
    color: #6c7388
}

.search-job-list-wrap .job-list li .primary-wrapper .job-limit .info-publis .name .vline {
    margin: -2px 5px 0;
    height: 10px
}

.search-job-list-wrap .job-primary .info-company {
    width: 350px;
    float: right
}

.search-job-list-wrap .job-primary .info-company .company-text {
    width: auto;
    float: left
}

.search-job-list-wrap .job-primary .info-company .company-logo {
    float: right;
    width: 54px;
    height: 54px;
    border: 1px solid #f3f5fb;
    border-radius: 9px
}

.search-job-list-wrap .job-primary .info-company .company-logo + p {
    font-size: 14px
}

.search-job-list-wrap .job-primary .info-company .company-text .name {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px
}

.search-job-list-wrap .job-primary .info-company .company-text .name + p {
    color: #61687c;
    max-width: 270px
}

.search-job-list-wrap .job-primary .info-company .company-text .name + p .false-link {
    color: #61687c
}

.search-job-list-wrap .job-primary .info-company .company-text .name a {
    color: #00c2b3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 256px
}

.search-job-list-wrap .job-primary .info-publis {
    width: 205px
}

.search-job-list-wrap .job-primary .info-publis h3 {
    font-size: 12px
}

.search-job-list-wrap .job-primary .primary-wrapper .info-detail .job-title {
    color: #fff;
    max-width: unset;
    display: block;
    margin-bottom: 5px
}

.search-job-list-wrap .job-primary .icon-chat {
    width: 13px;
    height: 13px;
    vertical-align: -2px;
    margin: 0 6px 0 0;
    border-radius: 0
}

.search-job-list-wrap .job-primary .icon-chat-hover {
    margin: 0
}

.search-job-list-wrap .job-primary .btn-startchat {
    display: none;
    width: 87px;
    min-width: auto;
    height: 21px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 21px
}

.search-job-list-wrap .company-list .company-item {
    background: #fff;
    margin-bottom: 10px;
    padding: 34px 0 34px 30px
}

.search-job-list-wrap .company-list .company-item:hover {
    background: #fff
}

.search-job-list-wrap .company-list .company-item .company-left {
    padding-left: 79px
}

.search-job-list-wrap .company-list .company-item .company-left img {
    width: 58px;
    height: 58px;
    top: -3px;
    border: 1px solid #f3f5fb;
    border-radius: 9px
}

.search-job-list-wrap .company-list .company-item .company-left .company-name {
    color: #00c2b3;
    font-size: 18px
}

.search-job-list-wrap .company-list .company-item .company-left .company-name:hover {
    color: #00c2b3 !important
}

.search-job-list-wrap .company-list .company-item .company-left .company-info {
    font-size: 14px
}

.search-job-list-wrap .company-list .company-item .company-right {
    top: 29px
}

.search-job-list-wrap .info-detail-top .detail-top-right .btn {
    display: inline-block !important;
    width: auto
}

.search-job-list-wrap .job-primary .info-detail-top .detail-top-title {
    max-width: 250px
}

.job-primary .info-primary .primary-wrapper .primary-box.cur .info-detail {
    display: block
}

.job-primary .info-publis {
    float: right;
    white-space: nowrap;
    overflow: hidden;
    width: 175px;
    text-overflow: ellipsis;
    text-align: right
}

.user-center .job-primary .info-publis {
    width: 205px
}

.job-primary .info-publis img {
    width: 20px;
    height: 20px;
    border-radius: 40px;
    vertical-align: middle;
    margin: -3px 10px 0 0
}

.job-primary .info-publis h3 {
    font-size: 13px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle
}

@-moz-document url-prefix() {
    .job-primary .info-publis {
        text-align: right;
        overflow: auto;
        text-overflow: unset
    }
    .job-primary .info-publis h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%
    }
}

.job-primary .info-publis p {
    text-align: right
}

.job-list li .info-primary p {
    margin-top: 2px
}

.job-primary .info-detail {
    position: absolute;
    white-space: normal;
    right: -30px;
    top: 0;
    width: 500px;
    height: auto;
    z-index: 20;
    display: none;
    padding: 16px 0 0 0;
    color: #abafba;
    background: rgba(244, 247, 252, .9);
    box-shadow: 0 4px 8px 0 rgba(65, 74, 96, .2);
    z-index: 1001
}

.ie .job-primary .info-detail {
    background: #707789
}

.job-primary .name .info-detail .job-title {
    color: #fff;
    max-width: unset;
    display: block;
    margin-bottom: 5px
}

.job-primary .info-detail h4 {
    font-size: 12px;
    color: #fff
}

.job-primary .info-detail h4 span {
    border: solid 1px #fff;
    border-radius: 3px;
    font-weight: 400;
    display: inline-block;
    height: 19px;
    line-height: 20px;
    padding: 0 5px;
    margin-right: 10px
}

.job-primary .info-detail .tags {
    font-size: 12px;
    color: #fff
}

.job-primary .info-detail .tags span {
    border: solid 1px #fff;
    border-radius: 3px;
    font-weight: 400;
    display: inline-block;
    height: 19px;
    line-height: 20px;
    padding: 0 5px;
    margin-right: 10px
}

.job-primary .info-primary .info-detail p {
    color: #fff;
    margin: 7px 0 0 0;
    line-height: 21px;
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.job-primary .info-primary h3 a.cur .info-detail {
    display: block
}


.job-primary .detail-top-right {
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 13px
}

.job-primary .detail-bottom .detail-bottom-title {
    padding: 10px 0 0;
    font-size: 14px;
    color: #414a60
}

.job-primary .detail-bottom .detail-bottom-text {
    max-height: 260px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10
}

.job-primary .detail-bottom {
    background: #fff;
    padding: 0 20px 23px;
    font-size: 13px
}

.job-primary.detail-box {
    border: none;
    height: auto;
    padding: 0;
    margin: 0
}

.job-primary.detail-box .info-primary {
    width: 500px
}

.job-primary.detail-box .info-company {
    width: 495px;
    float: right;
    text-align: right
}

.company-text {
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.job-tags {
    padding-top: 15px
}

.job-tags .job-author {
    float: right;
    text-align: right
}

.job-tags span {
    display: inline-block;
    border: 1px #d1d4da solid;
    padding: 0 12px;
    line-height: 20px;
    border-radius: 15px;
    margin-right: 15px;
    margin-top: 6px;
    font-size: 12px;
    color: #9fa3af;
    margin-bottom: 10px
}

.job-time {
    padding-top: 4px;
    margin-bottom: -2px
}

.job-tags .time, .job-time .time {
    font-size: 12px;
    color: #d1d4da;
    border: 0;
    padding: 0
}

.job-tags .time {
    margin-top: 10px
}

.job-list .job-author p {
    padding-top: 0;
    margin-top: 0;
    color: #4a4160
}

.job-author img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: 35px
}

.sider {
    float: right;
    width: 280px;
}

.sider .nomargin {
    margin-top: 0
}

.sider .promotion-img img {
    width: 100%
}

.company-sider, .job-sider {
    float: right;
    width: 284px;
    padding-bottom: 40px
}

.sider .fill-resume {
    padding: 15px 25px;
    background: #fff;
    margin-bottom: 15px
}

.sider .fill-resume img {
    float: right;
    margin: 4px 15px 0 0
}

.sider .fill-resume h3 {
    height: 25px;
    line-height: 25px;
    color: #61687c
}

.sider .fill-resume p {
    height: 27px;
    line-height: 27px;
    color: #6b7184
}

.sider .fill-resume .btn {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    border-radius: 100px
}

.search-job-list-wrap .sider .sign-form {
    width: auto;
    height: auto;
    background-color: #5dd5c8;
    box-shadow: none;
    border-radius: 0
}








































/* 顶部样式 */
.header_con{
	background-color:#f7f7f7;
	height:29px;
	border-bottom:1px solid #dddddd
}

.header{
	width:1200px;
	height:29px;
	margin:0 auto;
}

.welcome,.login_info,.login_btn,.user_link{
	line-height:29px;
}

.login_info{
	display:none;
}

.login_info em{color:#ff8800}

.login_btn a,.user_link a{
	color:#666;
}

.login_btn a:hover,.user_link a:hover{
	color:#ff8800;
}

.login_btn span,.user_link span{
	color:#cecece;
	margin:0 10px;
}


/* logo、搜索框、购物车样式 */

.search_bar{width:1200px;height:115px;margin:0 auto;}
.logo{width:150px;height:59px;margin:29px 0 0 17px;}

.search_con{width:616px;height:38px;border:1px solid #37ab40;margin:34px 0 0 124px;background:url(../images/icons.png) 10px -338px no-repeat;}
.search_con .input_text{width:470px;height:34px;border:0px;margin:2px 0 0 36px;outline:none;font-size:12px;color:#737272;font-family:'Microsoft Yahei'}

.search_con .input_btn{
	width:100px;height:38px;background-color:#37ab40;border:0px;font-size:14px;color:#fff;font-family:'Microsoft Yahei';outline:none;cursor:pointer;
}

.guest_cart{
	width:200px;height:40px;margin-top:34px;
}

.guest_cart .cart_name{
	width:158px;height:38px;line-height:38px;border:1px solid #dddddd;display:block;background:url(../images/icons.png) 13px -300px no-repeat;font-size:14px;color:#37ab40;text-indent:56px;
}

.guest_cart .goods_count{
	width:40px;height:40px;text-align:center;line-height:40px;font-size:18px;
	font-weight:bold;color:#fff;background-color:#ff8800;
}


/* 登录页 */

.login_top{width:960px;height:130px;margin:0 auto;}
.login_logo{display:block;width:193px;height:76px;margin-top:30px;}
.login_form_bg{height:480px;background-color:#518e17}
.no-mp{margin-top:0px;}
.login_form_wrap{width:960px;height:480px;margin:0 auto;}
.slogan{width:40px;height:300px;font-size:30px;color:#f0f9e8;text-align:center;line-height:36px;margin:80px 0 0 120px}
.login_form{width:368px;height:378px;border:1px solid #c6c6c5;background-color:#fff; margin-top:50px;}

.login_title{height:60px;width:308px;margin:10px auto;border-bottom:1px solid #e0e0e0;}

.login_title h1{font-size:24px;height:60px;line-height:60px;color:#a8a8a8;float:left;font-weight:bold;margin-left:44px;}
.login_title a{width:100px;height:20px;display:block;font-size:16px;color:#5fb42a;text-indent:26px;background:url(../images/icons02.png) left 5px no-repeat;float:left;margin:20px 0 0 36px}

.form_input{width:308px;height:250px;margin:20px auto;position:relative;}
.name_input,.pass_input{width:306px;height:36px;border:1px solid #e0e0e0;background:url(../images/icons02.png) 280px -41px no-repeat #f8f8f8;outline:none;font-size:14px;text-indent:10px;position: absolute;left:0;top:0}
.pass_input{top:65px;background-position:280px -95px;}

.user_error,.pwd_error{color:#f00;position:absolute;left:0;top:43px;display:none}

.pwd_error{top:110px;}

.more_input{position:absolute;left:0;top:130px;width:100%}

.more_input input{float:left;margin-top:2px;}
.more_input label{float:left;margin-left:10px;}
.more_input a{float:right;color:#666}
.more_input a:hover{color:#ff8800}

.input_submit{width:100%;height:40px;position:absolute;left:0;top:180px;background-color:#47aa34;color:#fff;font-size:22px;border:0px;font-family:'Microsoft Yahei';cursor:pointer;}


/* 注册页面 */
.register_con{
	width:700px;
	height:560px;
	margin:50px auto 0;
	background:url(../images/interval_line.png) 300px top no-repeat;
}

.l_con{width:300px;}
.reg_logo{width:200px;height:76px;float:right;margin-right:30px;}
.reg_slogan{width:300px;height:30px;float:right;text-align:right;font-size:24px;color:#69a81e;margin:20px 30px 0 0;}
.reg_banner{width:251px;height:329px;background:url(../images/register_banner.png) no-repeat;float:right; margin:20px 10px 0 0;opacity:0.5}


.r_con{width:400px;}
.reg_title{width:360px;height:50px;float:left;margin-left:30px;border-bottom:1px solid #e0e0e0}
.reg_title h1{height:50px;line-height:50px;float:left;font-size:24px;color:#a8a8a8;font-weight:bold;}
.reg_title a{float:right;height:20px;line-height:20px;font-size:16px;color:#5fb42a;padding-right:20px;background:url(../images/icons02.png) 35px 3px no-repeat;margin-top:15px}

.reg_form{width:360px;margin:30px 0 0 30px;float:left;position:relative;}
.reg_form li{height:70px;}
.reg_form li label{width:70px;height:40px;line-height:40px;float:left;font-size:14px;color:#a8a8a8}
.reg_form li input{width:288px;height:38px;border:1px solid #e0e0e0;float:left;outline:none;text-indent:10px;background-color:#f8f8f8}
.reg_form li.agreement input{width:15px;height:15px;float:left;margin-top:13px}
.reg_form li.agreement label{width:300px;float:left;margin-left:10px;}
.reg_form li.reg_sub input{width:360px;height:40px;background-color:#47aa34;font-size:18px;color:#fff;font-family:'Microsoft Yahei';cursor:pointer;}
.reg_form li .error_tip{float:left;height:30px;line-height:30px;margin-left:70px;color:#e62e2e;display:none;}
.reg_form li .error_tip2{float:left;height:20px;line-height:20px;color:#e62e2e;display:none;}

/* 页面底部样式 */
.footer{
	border-top:2px solid #42ad46;
	margin:30px 0;
}

.foot_link{text-align:center;margin-top:30px;}
.foot_link a,.foot_link span{color:#4e4e4e;}
.foot_link a:hover{color:#ff8800}
.foot_link span{padding:0 10px}
.footer p{text-align:center; margin-top:10px;}
